body {
  background-color: #f9f1f0;
  font-family: "Delius", cursive;
  font-weight: 400;
  /* background-image: url("Picture 5.png"); */
  background-image: url("Picture 6.png");
  background-size: 200px;
}
a {
  color: #e1a140;
}
h1 {
  font-weight: 800;
  font-size: 45px;
  line-height: 1.5;
  color: #f79489;
  text-align: center;
  font-family: "Gorditas", serif;
}
.container {
  margin: 60px auto;
  max-width: 600px;
}
.form-container {
  padding: 15px 20px;
  background-color: #fddad6;
  /* line-height: 1cm; */
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: rgba(219, 189, 204, 0.733) 0px 1px 5px,
    rgba(249, 247, 248, 0.083) 0px 0px 2px 2px;
  color: rgba(37, 37, 37, 0.587);
}
small {
  color: #c98f38;
}
form {
  display: flex;

  /* box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px; */
}
input {
  background-color: #fdf4e3;
  font-family: "Heebo", sans-serif;
  text-transform: capitalize;
}

.instructions {
  padding: 16px;
  border: 1px solid rgba(39, 33, 66, 0.5);
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
}
.submit-button {
  margin-left: 10px;
  background-color: #f79489;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 14px 24px;
  width: 130px;
  font-size: 18px;
}
.recipe {
  font-size: 16px;
  background-color: #fdf4e3;
  padding: 24px;
  line-height: 35px;
  font-weight: 400;
  border-left: 3px solid #f79489;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}
.hidden {
  display: none;
}
.recipe strong {
  color: #d3786e;
  font-size: 30px;
  font-family: "Gorditas", serif;
}
.recipe em {
  font-size: 20px;
  color: #c98f38;
  text-decoration: underline;
}
footer {
  text-align: center;
  font-size: 14px;
  margin-top: 30px;
}

.generating {
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
